body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.App {
    background: linear-gradient(to right, #a3f57d, #87dbf0);
    min-height:100vh;
    font-family: "Roboto", sans-serif;

    .todo-list {
        max-width: 80vw;
        margin: auto;
        padding: 40px;

        .group-input {
            margin-bottom: 50px;
            input {
                display:block;
                height:40px;
                padding:5px 20px;
                border-radius: 10px;
                width: 400px;
                margin:0 auto 20px;
                background: #fff;
                border:2px solid green;
                transition:all .3s ease;
                &:hover, &:focus {
                    border-color: red;
                }
            }
            button {
                background-color:transparent;
                border-radius: 100px;
                border:1px solid rgba(112,112,112,.5);
                padding:10px 20px;
                display:block;
                margin:auto;
                cursor: pointer;
                transition:all .3s ease;
                &:hover {
                    background-color:green;
                    color:#fff;
                    border-color:green
                }
            }
        }
        .task-list {
            display:flex;
            gap:40px;
            .task-done, .task-undone {
                width: 50%;
            }
            .task-item_name {
                padding: 15px 20px;
                border-radius: 10px;
                cursor:pointer;
                transition:all .3s ease;
                font-size:16px;
                font-weight:500;
                background-color:red;
                color:#fff;
            }
            .task-done .task-item_name {
                background:green;
            }
            .task-item:not(:last-child) {
                margin-bottom:10px;
            }
        }
    }
}



